.ticket-create {
  select.input-text {
    width: 400px;
  }
  .row-long {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-column-gap: 20px;
  }
  .row-standard {
    &__data.full-width {
      justify-content: stretch;
    }
  }
  textarea {
    height: unset;
  }
}

.modal-title-text {
  text-align: start;
}

.createTicket-button:hover {
  background: linear-gradient(274.02deg, #228de2 0%, #4252e6 50.52%, #4428b6 100%);
}